/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #00FFEE;
  --vp-c-brand-light: #33FFFF;
  --vp-c-brand-lighter: #66FFFF;
  --vp-c-brand-lightest: #99FFFF;
  --vp-c-brand-dark: #00CCEE;
  --vp-c-brand-darker: #0099BB;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #00FFEE 30%,
    #ADD8E6 /* 淺藍色 */
  );
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

:root .image-src {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 10px; /* 調整這裡的數值來控制圓角大小，數值越大，圓角越大 */
  clip-path: inset(0px round 10px); /* 這個確保內部的圓角也正確顯示 */
}

@media (min-width: 640px) {
  :root .image-src {
    max-width: 240px;
    min-height: 380px;
    object-fit: cover;
    border-radius: 10px; /* 同樣調整這裡的數值 */
    clip-path: inset(0px round 10px);
  }
}

body {
  font-family: MiSans;
}
